* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--navbar-height);
    width: var(--navbar-height);
    z-index: -1;
    opacity: 0.2;
}

#logo {
  margin: 10px 20px;
}

#logo img {
  height: 60px;
  margin: 3px 6px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 4px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
  display: flex;
  flex-direction: column;
  padding: 3px 180px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

#home::before{
  content: "";
  position: absolute;
  background: url(../img/spaghetti-1932466_1280.jpg);
  height: 600px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

#home h1{
  color: white;
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
}

#home p{
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Baloo Bhai', cursive;
}

#servicse{
  margin: 3px;
  display: flex;
}

#servicse .box{
  border: 2px solid red;
  padding: 35px;
  margin: 4px 40px;
  border-radius: 25px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

#servicse .box img{
  height: 150px;
  display: block;
  margin: auto;
}

#servicse .box p{
  font-family:sans-serif
}

#client-section{
  /* height: 300px; */
  position: relative;
}

#client-section::before{
  content: "";
  position: absolute;
  background: url('../img/olive-oil-1412361_1280.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img{
  height: 120px;
}

.client-item{
  padding: 35px;
}

#contact{
  position: relative;
}

#contact::before{
  content: "";
  position: absolute;
  background: url('../img/contact-us-6933645_1280.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  
}

#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#contact-box input{
  width: 100%;
  padding: 0.5rem;
}

#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.6rem;
}

#contact-box form{
  width: 40%;
}

#contact-box label{
  font-size: 1.3rem;
  font-family:'Times New Roman', Times, serif;
}

footer{
  background-color: black;
  color: white;
  padding: 10px 30px;
}

.h-primary{
  font-size: 2.2rem;
  padding: 12px;
}

.h-secondary{
  font-size: 2.5rem;
  padding: 12px;
}

.btn{
  padding: 3px 15px;
  border: 2pxsolid white;
  background-color: brown;
  color: white;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.center{
  text-align: center;
 }



